streamlit>=1.32.0
yfinance>=0.2.36
matplotlib>=3.8.3
pandas>=2.2.0
numpy>=1.26.4
python-dotenv>=1.0.1
langchain>=0.1.9
langchain_groq>=0.0.6
newsapi-python>=0.2.7
vaderSentiment>=3.3.2
requests>=2.31.0 
